<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center">
      {% if cliente %}
            <h2>Formulario Actualizar Datos</h2><br>

            <form action="{% url 'clientesUpdate' %}" method="POST">
                {% csrf_token %}

                <pre>Rut:              <input type="text" name="rut"    value="{{cliente.rut}}"></pre>
                <pre>Nombre:           <input type="text" name="nombre" value="{{cliente.nombre}}"></pre>
                <pre>Apellido P.:      <input type="text" name="paterno" value="{{cliente.apellido_paterno}}"></pre>
                <pre>Apellido M.:      <input type="text" name="materno" value="{{cliente.apellido_materno}}"></pre>
                <pre>Fecha Nac.:          <input type="date" name="fechaNac" value="{{cliente.fecha_nacimiento|date:'Y-m-d'}}"> </pre>
                <pre>Genero:            <select name="genero">
                {% for genero in generos %}
                        
                    {% if genero.genero == cliente.id_genero.genero %}
                        <option value="{{genero.id_genero}}" selected>{{genero.genero}}</option>
                    {% else %}
                        <option value="{{genero.id_genero}}">{{genero.genero}}</option>
                    {% endif %}
                {% endfor %}
                </select></pre>

                <pre>Celular:      <input type="text" name="telefono" value="{{cliente.telefono}}"></pre>
                <pre>Email:      <input type="mail" name="email" value="{{cliente.email}}"></pre>
                <pre>Dirección:      <input type="text" name="direccion" value="{{cliente.direccion}}"></pre>

                <input type="submit" name="opcion" value="Actualizar" />
            </form><br><br>
        {% endif %}
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
        <br><br>
        <a href="{% url 'crud' %}"> Volver </a>
    </div>
</body>
</html>
