{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Editar Datos de Clientes</h1><br>
    <br>

    <button type="button">
        <a href="{% url 'clientesAdd' %}"> Agregar </a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
        <table>
            {% if clientes %}
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido P.</th>
                <th>Eliminar</th>
                <th>Modificar</th>
                {% for x in clientes %}
                    <tr>
                        <td> {{ x.rut }}
                        <td> {{ x.nombre }}
                        <td> {{ x.apellido_paterno }}
                        <td> <a href="{% url 'clientes_del' pk=x.rut %}">Eliminar</a>
                        <td> <a href="{% url 'clientes_findEdit' pk=x.rut %}">Modificar</a>   
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#idMensajes").delay(2000).fadeOut("slow");
            });
        </script>
    
</body>
</html>